#about p{
  font-size: 20px;
}

#about .introHome{
  color: white;
  text-decoration: underline;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: -20%;
  max-width: 90%;
}

#about a{
  color: white;
  text-decoration: underline;
}

#about a:hover{
  color: white;
  text-decoration: line-through;
}
