
#compendio h2{
  font-size: 48px;
  font-weight: 600;
  text-decoration: underline;
  line-height: normal;r
}

#compendio h3 {
  font-family: 'Noto Serif', serif;
  font-size: 32px;
  font-style: italic;
  text-align: right;
  margin: 0;
}

#compendio h4 {
    border: 1px solid white;
    font-family: "space Mono", monospace;
    display: inline-block;
    width: auto;
    margin: 5px -15px;
    padding: 15px;
}

#compendio h5 {
  font-size: 14px;
  text-transform: uppercase;
}

#compendio p {
  font-size: 22px;
}

#markdown-toc{
  list-style-type: none;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  position: fixed;
  left: -20px;
  top:100px;
}

#markdown-toc ul{
  list-style-type: none;
}

#markdown-toc li{
  margin-bottom: 5px;
  margin-top: 5px;
}

#markdown-toc li a{
  text-decoration: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition: all 0.5s;
  color: white;
}

#markdown-toc li a:hover{
  text-decoration: none;
  background-color: white;
  color: black;
}
