---
layout: default
---
<div class="container" id="race">
  <div class="row">
    <div class="col-md-12">
      <div class="row" id="rider_1">
        <div class="col-md-2 col-md-offset-1">
          <h4>rider elliot</h4>
          <p><i class="fa fa-road" aria-hidden="true"></i> <span class="km"></span></p>
          <p><i class="fa fa-archive" aria-hidden="true"></i> <span class="delivery"></span></p>
          <p><i class="fa fa-bicycle" aria-hidden="true"></i> <span class="rider"></span></p>
          <p><i class="fa fa-cutlery" aria-hidden="true"></i> <span class="restaurant"></span></p>
          <p><i class="fa fa-building" aria-hidden="true"></i> <span class="company"></span></p>
        </div>
        <div class="col-md-8">
          <div class="vizRider">

          </div>
        </div>
      </div>
      <div class="row" id="timer">
        <div class="col-md-10 col-md-offset-1">
          <h3>19:30:00</h3>
        </div>
      </div>
      <div class="row" id="rider_2">
        <div class="col-md-2 col-md-offset-1">
          <h4>rider mary</h4>
          <p><i class="fa fa-road" aria-hidden="true"></i> <span class="km"></span></p>
          <p><i class="fa fa-archive" aria-hidden="true"></i> <span class="delivery"></span></p>
          <p><i class="fa fa-bicycle" aria-hidden="true"></i> <span class="rider"></span></p>
          <p><i class="fa fa-cutlery" aria-hidden="true"></i> <span class="restaurant"></span></p>
          <p><i class="fa fa-building" aria-hidden="true"></i> <span class="company"></span></p>
        </div>
        <div class="col-md-8">
          <div class="vizRider">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
